.alert-success:active {
  top: 5px;
  background-color: cyan
}

.title {
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  word-wrap: break-word; 
  margin-bottom: 5px;
}

.shortDesc {
  font-size: 10px;
  word-wrap: break-word;
  color: black;
}

.liContainer {
  overflow-y: auto;
  height: 600px;
  list-style-type: none;
  padding: 0;
}

.fave {
  color : gold;
  margin-right: 10px
  
}

.not-fave {
  display: none
}