li {
  padding: 10px 0 5px ;
  background:#D4EDDA;
  margin: 5px 0;
}

li:active {
  position: relative;
  top: 5px;
  background: cyan
}

.title {
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  word-wrap: break-word; 
  margin-bottom: 5px;
}

.shortDesc {
  font-size: 10px;
  word-wrap: break-word;
  color: black;
}

.liContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 600px;
  list-style-type: none;
  padding: 0;
}

.fave {
  color : gold;
  margin-right: 10px
}

.not-fave {
  display: none
}

/* li:nth-child(x) {
  background: red;
  order: -1;
}  */

